<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kettle.soso.mybatis.dal.mapper.CreditFileMapperExt">
  <resultMap id="BaseResultMap" type="com.kettle.soso.mybatis.dal.model.CreditFile">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="file_old_name" jdbcType="VARCHAR" property="fileOldName" />
    <result column="file_new_name" jdbcType="VARCHAR" property="fileNewName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_suffix" jdbcType="VARCHAR" property="fileSuffix" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="verify_md5" jdbcType="VARCHAR" property="verifyMd5" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="IS_DELETED" jdbcType="CHAR" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, key, file_old_name, file_new_name, file_path, file_suffix, file_type, verify_md5, 
    GMT_CREATE, CREATOR, GMT_MODIFIED, MODIFIER, IS_DELETED
  </sql>
  <select id="selectByExample" parameterType="com.kettle.soso.mybatis.dal.model.CreditFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    <include refid="MysqlDialectPrefix" />
    from credit_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0">
      <choose>
        <when test="oredCriteria.size == 1 and !oredCriteria[0].valid">
          where is_deleted = 'n'
        </when>
        <otherwise>
          and is_deleted = 'n'
        </otherwise>
      </choose>
    </if>
    <if test="oredCriteria.size == 0">
      where is_deleted = 'n'
    </if>
    <include refid="fullOrgPath" />
    <include refid="owner" />
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from credit_file
    where ID = #{id,jdbcType=INTEGER}
    and is_deleted = 'n'
  </select>
  <update id="deleteByPrimaryKey" parameterType="com.kettle.soso.mybatis.dal.model.CreditFile">
    delete from credit_file
    where ID = #{id,jdbcType=INTEGER}
    update credit_file set is_deleted = 'y',modifier=#{modifier,jdbcType=VARCHAR},gmt_Modified=current_timestamp where ID = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByExample" parameterType="com.kettle.soso.mybatis.dal.model.CreditFileExample">
    delete from credit_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.kettle.soso.mybatis.dal.model.CreditFileExample" resultType="java.lang.Integer">
    select count(*) from credit_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0">
      <choose>
        <when test="oredCriteria.size == 1 and !oredCriteria[0].valid">
          where is_deleted = 'n'
        </when>
        <otherwise>
          and is_deleted = 'n'
        </otherwise>
      </choose>
    </if>
    <if test="oredCriteria.size == 0">
      where is_deleted = 'n'
    </if>
    <include refid="fullOrgPath" />
    <include refid="owner" />
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update credit_file
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.key != null">
        key = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.fileOldName != null">
        file_old_name = #{record.fileOldName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileNewName != null">
        file_new_name = #{record.fileNewName,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSuffix != null">
        file_suffix = #{record.fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null">
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyMd5 != null">
        verify_md5 = #{record.verifyMd5,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update credit_file
    set ID = #{record.id,jdbcType=INTEGER},
      key = #{record.key,jdbcType=VARCHAR},
      file_old_name = #{record.fileOldName,jdbcType=VARCHAR},
      file_new_name = #{record.fileNewName,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      file_suffix = #{record.fileSuffix,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      verify_md5 = #{record.verifyMd5,jdbcType=VARCHAR},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kettle.soso.mybatis.dal.model.CreditFile">
    update credit_file
    <set>
      <if test="key != null">
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="fileOldName != null">
        file_old_name = #{fileOldName,jdbcType=VARCHAR},
      </if>
      <if test="fileNewName != null">
        file_new_name = #{fileNewName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        file_suffix = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="verifyMd5 != null">
        verify_md5 = #{verifyMd5,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified == null">
        GMT_MODIFIED = current_timestamp,
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifier == null">
        MODIFIER = 'system',
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
    and is_deleted = 'n'
  </update>
  <insert id="insertSelective" keyProperty="id" parameterType="com.kettle.soso.mybatis.dal.model.CreditFile" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into credit_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="isDeleted == null">
        IS_DELETED,
      </if>
      <if test="creator == null">
        CREATOR,
      </if>
      <if test="modifier == null">
        MODIFIER,
      </if>
      <if test="gmtModified == null">
        GMT_MODIFIED,
      </if>
      <if test="gmtCreate == null">
        GMT_CREATE,
      </if>
      <if test="key != null">
        key,
      </if>
      <if test="fileOldName != null">
        file_old_name,
      </if>
      <if test="fileNewName != null">
        file_new_name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="fileSuffix != null">
        file_suffix,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="verifyMd5 != null">
        verify_md5,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="isDeleted == null">
        'n',
      </if>
      <if test="creator == null">
        'system',
      </if>
      <if test="modifier == null">
        'system',
      </if>
      <if test="gmtModified == null">
        current_timestamp,
      </if>
      <if test="gmtCreate == null">
        current_timestamp,
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="fileOldName != null">
        #{fileOldName,jdbcType=VARCHAR},
      </if>
      <if test="fileNewName != null">
        #{fileNewName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null">
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="verifyMd5 != null">
        #{verifyMd5,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <sql id="MysqlDialectPrefix">
    <if test="page != null">
      from credit_file where id in ( select id from ( select id 
    </if>
  </sql>
  <sql id="MysqlDialectSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin}, #{page.length} ) as temp_page_table) ]]>
    </if>
  </sql>
  <sql id="fullOrgPath">
    <if test="fullOrgPath != null">
      and full_org_path like CONCAT(#{fullOrgPath}, '%')
    </if>
  </sql>
  <sql id="owner">
    <if test="owner != null">
      and owner =#{owner,jdbcType=VARCHAR}
    </if>
  </sql>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into credit_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].key!=null">
        key,
      </if>
      <if test="list[0].fileOldName!=null">
        file_old_name,
      </if>
      <if test="list[0].fileNewName!=null">
        file_new_name,
      </if>
      <if test="list[0].filePath!=null">
        file_path,
      </if>
      <if test="list[0].fileSuffix!=null">
        file_suffix,
      </if>
      <if test="list[0].fileType!=null">
        file_type,
      </if>
      <if test="list[0].verifyMd5!=null">
        verify_md5,
      </if>
      <if test="list[0].gmtCreate!=null">
        GMT_CREATE,
      </if>
      <if test="list[0].creator!=null">
        CREATOR,
      </if>
      <if test="list[0].gmtModified!=null">
        GMT_MODIFIED,
      </if>
      <if test="list[0].modifier!=null">
        MODIFIER,
      </if>
      <if test="list[0].isDeleted!=null">
        IS_DELETED,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=INTEGER},
        </if>
        <if test="item.key!=null">
          #{item.key,jdbcType=VARCHAR},
        </if>
        <if test="item.fileOldName!=null">
          #{item.fileOldName,jdbcType=VARCHAR},
        </if>
        <if test="item.fileNewName!=null">
          #{item.fileNewName,jdbcType=VARCHAR},
        </if>
        <if test="item.filePath!=null">
          #{item.filePath,jdbcType=VARCHAR},
        </if>
        <if test="item.fileSuffix!=null">
          #{item.fileSuffix,jdbcType=VARCHAR},
        </if>
        <if test="item.fileType!=null">
          #{item.fileType,jdbcType=VARCHAR},
        </if>
        <if test="item.verifyMd5!=null">
          #{item.verifyMd5,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtCreate!=null">
          #{item.gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.creator!=null">
          #{item.creator,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtModified!=null">
          #{item.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modifier!=null">
          #{item.modifier,jdbcType=VARCHAR},
        </if>
        <if test="item.isDeleted!=null">
          #{item.isDeleted,jdbcType=CHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update credit_file
      <set>
        <if test="item.key!=null">
          key=#{item.key,jdbcType=VARCHAR},
        </if>
        <if test="item.fileOldName!=null">
          file_old_name=#{item.fileOldName,jdbcType=VARCHAR},
        </if>
        <if test="item.fileNewName!=null">
          file_new_name=#{item.fileNewName,jdbcType=VARCHAR},
        </if>
        <if test="item.filePath!=null">
          file_path=#{item.filePath,jdbcType=VARCHAR},
        </if>
        <if test="item.fileSuffix!=null">
          file_suffix=#{item.fileSuffix,jdbcType=VARCHAR},
        </if>
        <if test="item.fileType!=null">
          file_type=#{item.fileType,jdbcType=VARCHAR},
        </if>
        <if test="item.verifyMd5!=null">
          verify_md5=#{item.verifyMd5,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtCreate!=null">
          GMT_CREATE=#{item.gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.creator!=null">
          CREATOR=#{item.creator,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtModified!=null">
          GMT_MODIFIED=#{item.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modifier!=null">
          MODIFIER=#{item.modifier,jdbcType=VARCHAR},
        </if>
        <if test="item.isDeleted!=null">
          IS_DELETED=#{item.isDeleted,jdbcType=CHAR},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>