<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kettle.soso.mybatis.dal.mapper.FormDemoMapperExt">
  <resultMap id="BaseResultMap" type="com.kettle.soso.mybatis.dal.model.FormDemo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="month_string" jdbcType="VARCHAR" property="monthString" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="IS_DELETED" jdbcType="CHAR" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, code, name, month_string, count, GMT_CREATE, CREATOR, GMT_MODIFIED, MODIFIER, 
    IS_DELETED
  </sql>
  <select id="selectByExample" parameterType="com.kettle.soso.mybatis.dal.model.FormDemoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    <include refid="MysqlDialectPrefix" />
    from count_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0">
      <choose>
        <when test="oredCriteria.size == 1 and !oredCriteria[0].valid">
          where is_deleted = 'n'
        </when>
        <otherwise>
          and is_deleted = 'n'
        </otherwise>
      </choose>
    </if>
    <if test="oredCriteria.size == 0">
      where is_deleted = 'n'
    </if>
    <include refid="fullOrgPath" />
    <include refid="owner" />
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from count_detail
    where ID = #{id,jdbcType=INTEGER}
    and is_deleted = 'n'
  </select>
  <update id="deleteByPrimaryKey" parameterType="com.kettle.soso.mybatis.dal.model.FormDemo">
    delete from count_detail
    where ID = #{id,jdbcType=INTEGER}
    update count_detail set is_deleted = 'y',modifier=#{modifier,jdbcType=VARCHAR},gmt_Modified=current_timestamp where ID = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByExample" parameterType="com.kettle.soso.mybatis.dal.model.FormDemoExample">
    delete from count_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.kettle.soso.mybatis.dal.model.FormDemoExample" resultType="java.lang.Integer">
    select count(*) from count_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="oredCriteria.size != 0">
      <choose>
        <when test="oredCriteria.size == 1 and !oredCriteria[0].valid">
          where is_deleted = 'n'
        </when>
        <otherwise>
          and is_deleted = 'n'
        </otherwise>
      </choose>
    </if>
    <if test="oredCriteria.size == 0">
      where is_deleted = 'n'
    </if>
    <include refid="fullOrgPath" />
    <include refid="owner" />
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update count_detail
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.monthString != null">
        month_string = #{record.monthString,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update count_detail
    set ID = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      month_string = #{record.monthString,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kettle.soso.mybatis.dal.model.FormDemo">
    update count_detail
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="monthString != null">
        month_string = #{monthString,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified == null">
        GMT_MODIFIED = current_timestamp,
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifier == null">
        MODIFIER = 'system',
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
    and is_deleted = 'n'
  </update>
  <insert id="insertSelective" keyProperty="id" parameterType="com.kettle.soso.mybatis.dal.model.FormDemo" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into count_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="isDeleted == null">
        IS_DELETED,
      </if>
      <if test="creator == null">
        CREATOR,
      </if>
      <if test="modifier == null">
        MODIFIER,
      </if>
      <if test="gmtModified == null">
        GMT_MODIFIED,
      </if>
      <if test="gmtCreate == null">
        GMT_CREATE,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="monthString != null">
        month_string,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="isDeleted == null">
        'n',
      </if>
      <if test="creator == null">
        'system',
      </if>
      <if test="modifier == null">
        'system',
      </if>
      <if test="gmtModified == null">
        current_timestamp,
      </if>
      <if test="gmtCreate == null">
        current_timestamp,
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="monthString != null">
        #{monthString,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <sql id="MysqlDialectPrefix">
    <if test="page != null">
      from count_detail where id in ( select id from ( select id 
    </if>
  </sql>
  <sql id="MysqlDialectSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin}, #{page.length} ) as temp_page_table) ]]>
    </if>
  </sql>
  <sql id="fullOrgPath">
    <if test="fullOrgPath != null">
      and full_org_path like CONCAT(#{fullOrgPath}, '%')
    </if>
  </sql>
  <sql id="owner">
    <if test="owner != null">
      and owner =#{owner,jdbcType=VARCHAR}
    </if>
  </sql>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into count_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].code!=null">
        code,
      </if>
      <if test="list[0].name!=null">
        name,
      </if>
      <if test="list[0].monthString!=null">
        month_string,
      </if>
      <if test="list[0].count!=null">
        count,
      </if>
      <if test="list[0].gmtCreate!=null">
        GMT_CREATE,
      </if>
      <if test="list[0].creator!=null">
        CREATOR,
      </if>
      <if test="list[0].gmtModified!=null">
        GMT_MODIFIED,
      </if>
      <if test="list[0].modifier!=null">
        MODIFIER,
      </if>
      <if test="list[0].isDeleted!=null">
        IS_DELETED,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=INTEGER},
        </if>
        <if test="item.code!=null">
          #{item.code,jdbcType=VARCHAR},
        </if>
        <if test="item.name!=null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.monthString!=null">
          #{item.monthString,jdbcType=VARCHAR},
        </if>
        <if test="item.count!=null">
          #{item.count,jdbcType=INTEGER},
        </if>
        <if test="item.gmtCreate!=null">
          #{item.gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.creator!=null">
          #{item.creator,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtModified!=null">
          #{item.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modifier!=null">
          #{item.modifier,jdbcType=VARCHAR},
        </if>
        <if test="item.isDeleted!=null">
          #{item.isDeleted,jdbcType=CHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update count_detail
      <set>
        <if test="item.code!=null">
          code=#{item.code,jdbcType=VARCHAR},
        </if>
        <if test="item.name!=null">
          name=#{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.monthString!=null">
          month_string=#{item.monthString,jdbcType=VARCHAR},
        </if>
        <if test="item.count!=null">
          count=#{item.count,jdbcType=INTEGER},
        </if>
        <if test="item.gmtCreate!=null">
          GMT_CREATE=#{item.gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.creator!=null">
          CREATOR=#{item.creator,jdbcType=VARCHAR},
        </if>
        <if test="item.gmtModified!=null">
          GMT_MODIFIED=#{item.gmtModified,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modifier!=null">
          MODIFIER=#{item.modifier,jdbcType=VARCHAR},
        </if>
        <if test="item.isDeleted!=null">
          IS_DELETED=#{item.isDeleted,jdbcType=CHAR},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>